Redirect 301 /gifstream http://zachtrice.github.io/projects/gifstream
Redirect 301 /setim2018 http://zachtrice.github.io/projects/setim2018
Redirect 301 /vscode-extensions http://zachtrice.github.io/projects/vscode-extensions
Redirect 301 /worldview-ar http://zachtrice.github.io/projects/worldview-ar
Redirect 301 /worlview-example http://zachtrice.github.io/projects/worlview-example
Redirect 301 /worldview-snapshots http://zachtrice.github.io/projects/worldview-snapshots
Redirect 301 /worldview-snapshots-design http://zachtrice.github.io/projects/worldview-snapshots-design
Redirect 301 /worldview-tour http://zachtrice.github.io/projects/worldview-tour
Redirect 301 /wv_gibs-summit http://zachtrice.github.io/projects/wv_gibs-summit